[Unit]
Description=Temp Checker
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=15
User=pi
WorkingDirectory=/home/pi/piIpCam
ExecStart=python3 tempChecker.py

[Install]
WantedBy=multi-user.target